@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  min-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #181818;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translate(0, 15rem);
}

.keys {
  display: flex;
  flex-flow: row wrap;
}

.key {
  margin-left: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid white;
  border-radius: 0.8rem;
  width: 8rem;
  height: 8rem;
  cursor: pointer;
  transition: ease;
  margin-top: 2rem;
  transition: 0.3s ease;
}

.key kbd {
  font-size: 3rem;
}
.key span {
  font-size: 1.2rem;
  color: #00d683;
}

.playing {
  scale: 1.16;
  border-color: #00d683;
  box-shadow: 0 0 1rem #00d683;
}

#volume{
    width: 20rem;
    margin-bottom: 4rem;
    accent-color: #00d683;
}

#volumeBox span{
    color: white;
    font-size: 1.2rem;
}

